
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

div.tweets {
  margin-top: 50px;
  margin-bottom: 50px;
}

div.tweets > div:first-child {
  border-top: 1px solid #ddd;
}

div.tweets > div {
  min-height: 120px;
  padding-top: 10px;
  border-bottom: 1px solid #ddd;
}